@charset "utf-8";
@import '~normalize.css'; /*reset css*/

#example{
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  *{
    box-sizing: border-box;
  }
  &>div{
    margin-top:15px;
    .box{
      background: #f2f2f2;
      padding: 15px;
      .title{
        margin: 0 0 10px;
      }
    }
    .btn{
      border-radius: 3px;
      padding: 7px 12px;
      box-shadow: none;
      border: none;
      color:white;
      margin-bottom: 10px;
      &.btn-block{
        display: block;
      }
      &.btn-success{
        background: darkseagreen;
      }
      &.btn-error{
        background: indianred;
      }
      &.btn-loading{
        background: cadetblue;
      }
      &.btn-default{
        background: dimgrey;
      }
    }
    code{
      background: #f9f2f4;
      color:#c7254e;
      padding: 10px;
      display: block;
      margin-top: 10px;
    }
  }
}
