@charset "utf-8";
@import url("http://at.alicdn.com/t/font_450163_yfe7jxoe8zrggb9.css");

.upload{
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  li{
    width: 75px;
    height: 75px;
    margin: 0 5px 5px ;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    .iconfont{
      font-size: 32px;
      line-height: 75px;
    }
    .del{
      position: absolute;
      right: 0;
      top:0;
      background: rgba(0,0,0,.6);
      border-radius: 0;
      width: 75px;
      height: 75px;
      text-align: center;
      line-height: 75px;
      color: white;
      font-size: 28px;
      &.word{
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 11.5px 5px;
        line-height: 25px;
        font-size: 12px;
        font-style:normal
      }
    }
    input[type='file']{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: 3;
    }
    img{
      width: 100%;
      height: 100%;
    }
    .mask{
      display: block;
      width: 100%;
      height: 100%;
      border: 1px dashed #ccc;
      background: none;
      text-align: center;
      line-height: 75px;
      cursor: pointer;
      z-index: 2;
      .iconfont{
        line-height: 75px;
        font-size: 24px;
      }
      .word{
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 11.5px 5px;
        line-height: 25px;
        font-size: 12px;
        font-style:normal
      }
    }
  }
}
